* {
  box-sizing: border-box;
}
.imgclass{
Opacity:0.7;
Width:100%;
Display:block;
Height:242px;
}
.imgmainclass{
Opacity:0.7;
Width:100%;
Display:block;
Height:308px;
}
.imgsideclass{
Opacity:0.7;
Width:100%;
Display:block;
Height:133px;
}
.imgsideclass1{
Opacity:0.7;
Width:100%;
Display:block;
Height:87px;
}

.top{
Margin:0;
Padding:1em;
Display:flex;
Justify-content:space-between;
Width:90%;
Margin:0 auto;
Max-width:800px;
}
header{
Background:#F8F8F8 0% 0% no-repeat padding-box;

}
H2,h3{
font: Regular 24px/28px Lora;
Color:#143774;
}
a{
Text-decoration:none;
Color:#1792D2;
Font-size:14px;

}
P{
Color:#707070;
Font-size:14px;
font: Light 18px/28px Ubuntu;

}
.heading{
Margin-bottom:0;
Color:#143774;
}
.para{
Margin-top:0;
Font-size:0.75em;
Color:#1792D2;
opacity: 1;
}
.head{
Text-align:center;
}
nav ul{
List-style:none;
Display:flex;
Justify-content:center;
}
Nav li{
Padding:2em;
}
Nav a{
color: #717171;
Text-decoration:none;
}
@media(max-width:800px)
{
.top{
Flex-direction:column;
}
}
.container{
Display:flex;
Width:60%;
Margin:0 auto;

Padding:3%;
}
[role=main]{
Width:65%;

}
.right{
width:25%;
margin-left:10%;
Padding-top:2em;

}

.mainflex{
Display:flex;
Justify-content:space-between;
Padding-top:10%;
Border-top:3px solid #EBEBEB;
}
.side{
Border:20px solid #EBEBEB;
Padding:6%;
}
.side1{
Border:20px solid #EBEBEB;
Padding:6%;
Margin-top:8%;
}
.mainimage{
Width:900px;
}
.mainpara{
Margin-left:10%;
}
.maincont{
Padding-bottom:8%;
}
Footer{
Margin:0px;
Padding:1%;
Margin-top:5%;
Text-align:center;
Background:#143774;
Color:white;
}
.lastpara{
Color:white;
Margin-top:0;
}
.lasthead{
Margin-bottom:0;
}
@media(max-width:900px){
.container{
Flex-direction:column;
}
.mainflex{
Flex-direction:column;

}
[role=main]{
Width:100%;
}
.mainclass{
Width:100%;
}
.imgclass{
Width:100%;
}
.mainpara{
Margin-left:0px;
Margin-right:0px;
Padding-bottom:8%;
}
.mainimage{
Width:100%;
}
.right{
Width:100%;
Margin-left:0px;

}
.side{
Padding-left:12%;
Width:100%;
Border:5px solid #EBEBEB;
}
.side1{
Padding-left:12%;
Border:5px solid #EBEBEB;
Width:100%;

}
.imgsideclass{
Max-width:90%;
Width:100%;
Height:308px;
Display:block;
}
.imgsideclass1{
Max-width:90%;
Width:100%;
Height:308px;
Display:block;
}
}
